// login 
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 25px;
    border: 2px solid #007bff; /* Bordure bleue pour l'entourer */
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .login-container h1 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
  }
  
  .input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    line-height: 1.5;
  }
  
  .input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  
  .button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #dc3545;
    text-align: center;
    margin-top: 20px;
  }